<?xml version="1.0"?>
<opencv_storage>
<CameraMatrix type_id="opencv-matrix">
  <rows>3</rows>
  <cols>3</cols>
  <dt>f</dt>
  <data>
    5.19934021e+02 0. 2.36723007e+02 0. 5.21078003e+02 2.02376007e+02 0.
    0. 1.</data></CameraMatrix>
<DistortionCoeffs type_id="opencv-matrix">
  <rows>5</rows>
  <cols>1</cols>
  <dt>f</dt>
  <data>
    -3.87371004e-01 2.14263007e-01 3.16725997e-03 1.45520000e-02
    -7.76906013e-02</data></DistortionCoeffs>
<RotationValues type_id="opencv-matrix">
  <rows>3</rows>
  <cols>1</cols>
  <dt>f</dt>
  <data>
    8.00440431e-01 -1.74748790e+00 1.62844217e+00</data></RotationValues>
<TranslationValues type_id="opencv-matrix">
  <rows>3</rows>
  <cols>1</cols>
  <dt>f</dt>
  <data>
    9.37062134e+02 1.24313013e+03 4.45792676e+03</data></TranslationValues>
</opencv_storage>
